/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

/* MY CSS */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

ul {
    list-style-type: none;
}

nav {
    background: #1f2937;
    height: 60px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: #f9faf8;
}

nav ul {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

nav ul li {
    padding-left: 20px;
}

.register {
    border: 2px solid #f9faf8;
    border-radius: 20px;
    padding: 10px 30px;
}

.register:hover {
    border: 2px solid #3882f6;
    color: #f9faf8;
    background: #3882f6;
    border-radius: 20px;
    padding: 10px 30px;
    transition: background 0.3s;
}

header {
    height: 400px;
    background: #1f2937;
    color: #f9faf8;
}

header .container {
    display: flex;
    align-items: center;
    height: 100%;
}

header img {
    border-radius: 50px;
    height: auto;
    width: 500px;
    margin-left: 60px;
}

header h1 {
    font-size: 48px;
    font: 900;
    line-height: 1.2;
    margin: 0;
}

header p {
    font-size: 18px;
    margin: 0;
}

header button {
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
    background: #3882f6;
    padding: 10px 30px;
    border: 2px solid #3882f6;
    border-radius: 10px;
    margin-top: 15px;
}

header button:hover {
    background: #f9faf8;
    border: 2px solid #f9faf8;
    color: #3882f6;
    transition: background 0.3s;
    transition: border 0.3s;
}

main {
    height: 500px;
}

main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

main img {
    height: auto;
    width: 100px;
}

main .card {
    width: 150px;
    height: 200px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    border-radius: 20px;
    border: 1px solid #f9faf8;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3);    
}

main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 50px 0;
}

.testimonials {
    background: #e5e7eb;
    height: 400px;
}

.testimonials .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials p {
    width: 800px;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0;
}

.testimonials figcaption {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}