/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

/* MY CSS */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px;
}

ul {
    list-style-type: none;
}

/* Common properties */

.nav .container,
.nav ul,
.header .container,
.main .container,
.main .content,
.main .card,
.testimonials .container,
.call-to-action .container,
.call-to-action .sign-up-area,
.footer .container {
    display: flex;
}

.nav,
.header,
.footer {
    background-color: #1f2937;
    color: #f9faf8;
}

/* Navigation */
.nav .container {
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav a {
    text-decoration: none;
    color: #f9faf8;
}

.nav ul {
    font-weight: bold;
    justify-content: space-between;
    font-size: 18px;
}

.nav ul li {
    margin-left: 20px;
}

.register {
    border: 2px solid #f9faf8;
    border-radius: 10px;
    padding: 10px 30px;
}

.register:hover {
    border: 2px solid #3882f6;
    color: #f9faf8;
    background: #3882f6;
    border-radius: 10px;
    padding: 10px 30px;
}

/* Header */
.header {
    padding-top: 30px;
    padding-bottom: 50px;
}

.header .container {
    align-items: center;
}

.header img {
    border-radius: 50px;
    height: auto;
    width: 500px;
    margin-left: 60px;
}

.header h1 {
    font-size: 48px;
    font: 900;
    line-height: 1.2;
    margin: 0;
}

.header p {
    font-size: 18px;
    margin: 0;
}

.header button {
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
    background: #3882f6;
    padding: 10px 30px;
    border: 2px solid #3882f6;
    border-radius: 10px;
    margin-top: 15px;
}

.header button:hover {
    background-color: #f9faf8;
    border: 2px solid #f9faf8;
    color: #3882f6;
}

/* Main */
.main {
    padding-top: 20px;
    padding-bottom: 70px;
}

.main .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .content {
    justify-content: center;
    gap: 40px;
}

.main img {
    height: auto;
    width: 100px;
}

.main .card {
    width: 150px;
    height: 200px;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3);    
}

.main .card p {
    text-align: center;
}

.main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

/* Testimonials section */
.testimonials {
    background-color: #e5e7eb;
    padding: 70px 0;
}

.testimonials .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials p {
    width: 80%;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    line-height: 1.2;
    /* margin-bottom: 0; */
    margin: 0 auto;
}

.testimonials .caption {
    width: 80%;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-left: 0;
}

/* Call to action section */
.call-to-action {
    background-color: white;
    padding: 100px 0;
}

.call-to-action h3 {
    color: #f9faf8;
    font-size: 26px;
    margin: 0;
}

.call-to-action p {
    color: #f9faf8;
    margin: 0;
}

.call-to-action a {
    font-weight: bold;
    margin-left: 20px;
    padding: 10px 30px;
    border: 2px solid #f9faf8;
    border-radius: 10px;
    color: #f9faf8;
    text-decoration: none;
    text-align: center;
}

.call-to-action a:hover {
    background-color: #f9faf8;
    border: 2px solid #f9faf8;
    color: #3882f6;
}

.call-to-action .container {
    justify-content: center;
}

.call-to-action .sign-up-area {
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 50px;
}

/* Footer */
.footer .container {
    justify-content: center;
    align-items: center;
}

/* Media queries */
@media (max-width: 950px) {
    .header .container {
        flex-direction: column;
    }

    .header .top {
        text-align: center;
    }

    .header img {
        margin-left: 0;
        margin-top: 35px;
    }

    .main .content {
        flex-wrap: wrap;
    }
}

@media (max-width: 700px) {
    .nav .container {
        flex-direction: column;
    }
}