/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* MY CSS */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

ul {
    list-style-type: none;
}

nav {
    background: #1f2937;
    height: 60px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: #f9faf8;
}

nav ul {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    padding-left: 20px;
}

.register {
    border: 2px solid #f9faf8;
    border-radius: 20px;
    padding: 10px 30px;
}

.register:hover {
    border: 2px solid #f9faf8;
    color: #f9faf8;
    background: #3882f6;
    border-radius: 20px;
    padding: 10px 30px;
    transition: background 0.5s;
}